{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>{{ i18n "list.listed_tags" }} - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">{{ i18n "list.all_article" }}</h1>
{{ end }}

<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ .Date | time.Format ":date_medium" }}{{ if .Draft }} <span class="draft-label">{{ i18n "draft" }}</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
