{{ define "main" }}
<main>
	<article class="h-entry">
		<div class="title">
			<span style="float: right;">
				<applause-button style="width: 55px; height: 55px;" color="black" url="{{ .Permalink }}"
					multiclap="true"></applause-button>
			</span>
			<h1 class="title p-name">{{ .Title }}</h1>
			<div class="meta">Posted on <time class="dt-published">{{ dateFormat "Jan 2, 2006" .Date }}</time>{{if
				.Params.FrenchDate }} / <a href="https://en.wikipedia.org/wiki/French_Republican_calendar">{{
					.Params.FrenchDate }}</a>{{end}} {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
			</div>
			<div class="meta">By <span class="h-card"><a class="p-author" rel="author" href="https://cannedfi.sh">{{ .Site.Params.Writer }}</a> <img class="icon u-photo" src="/icon.png"></img></span>
			</div>

		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr p-summary">
			<strong>tl;dr:</strong>
			<span style="color: gray">{{ .Params.tldr }}</span>
		</div>{{ end }}

		<section class="body e-content">
			{{ .Content }}
		</section>
		<div id="webmentions"></div>
		<script>
			feather.replace()
		</script>
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">

				{{ range .Params.tags }}
				<a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}"><i data-feather="tag"></i><noscript>
						<svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
							stroke-linecap="round" stroke-linejoin="round">
							<use xlink:href="{{ " css/feather-sprite.svg" | relURL }}#tag" />
						</svg></noscript>{{ . }}</a>
				{{ end }}
				<span style="float: right;"><a class="u-url" href="{{ .Permalink }}">permalink</a> | <a
						href="https://quill.p3k.io/?dontask=1&me=https://commentpara.de/&reply={{ .Permalink }}"
						target="_blank">comment</a></span>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}