{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>
		<hr>
		<script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
		<script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
		<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
		<div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
		<noscript>Please enable Javascript to view comments.</noscript>
		<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
		<a href="https://www.talkyard.io">Talkyard</a>.</p>
		</div>
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">

					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i data-feather="tag"></i>{{ . }}</a>
					{{ end }}

			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
