<header>
	<div class="main">
		<div class="logo"><a href="{{ .Site.BaseURL }}">
				<img src="/logo-big.png" alt="IfItDoesntMatchAnyMedia">
		</a></div>
	</div>
	<div class="navbox">
		<nav>
			{{ range $index, $key := .Site.Menus.main }}
				{{ with .Params.Icon }}
				<a href="{{ $key.URL }}" title="{{ $key.Name }}"><i data-feather="{{ . }}"></i></a>
				{{ else }}
				<a href="{{ .URL }}">{{ .Name }}</a>
			{{end}}
			{{ end }}
			{{- if .Site.Params.scrobble -}}
			<div>
				<span id="slug"></span>
			</div>
			<div id="lbwrapper"><a href="https://listenbrainz.org/user/ChilledTonic"><i data-feather="headphones"></i></a><span id="info"><i class="loader" data-feather="loader"></i></span></div>
			{{ end }}
		</nav>
	</div>
</header>
